<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="./vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <body>
    <h1>网站列表</h1>
    <div id="app">
      <div v-for="site in message">
        {{site.name}}
      </div>
    </div>
    <hr />
    <div id="app1">
      <div v-for="sites in message1">
        {{sites.name}}
      </div>
    </div>
  </body>
  <script>
    let app = new Vue({
      data() {
        return {
          message: null
        };
      },
      mounted() {
        axios
          .get('data.json')
          .then((res) => {
            this.message = res.data.sites;
          })
          .catch((err) => {
            console.error(err);
          });
      }
    }).$mount('#app');

    let app1 = new Vue({
      data() {
        return {
          message1: null
        };
      },
      created() {
        axios({
          method: 'get',
          url: 'data.json',
          responseType: 'json'
        }).then((res) => {
          this.message1 = res.data.sites;
        });
      }
    }).$mount('#app1');
  </script>
</html>
