/*body{
	
}*/
.header{
	width: 1000px;
	height: 50px;
	margin: auto;
	background: red;
	border-radius: 4px;
}
.main{	
	width: 1000px;
	height: 1000px;
	margin: auto;
	padding-top: 10px;
}
.article{
	width: 650px;	
	height: 100%;
	background: green;
	border-radius: 4px;
	float: left;
	
}
.aside{
	width: 340px;
	height: 100%;
	background: darkblue;	
	float: right;
	border-radius: 4px;
}
.footer{
	position: relative;
	padding-top: 10px;
	width: 1000px;
	height: 40px;
	background: gold;
	margin: auto;
}
header{
	width: 1000px;
	height: 50px;
	margin: auto;
	background: red;
	border-radius: 4px;
}

header ul li{
	display:inline-block;
}
main{	
	width: 1000px;
	height: 1000px;
	margin: auto;
	padding-top: 10px;
	margin-bottom: 10px;
}
article{
	width: 650px;	
	height: 100%;
	background: green;
	border-radius: 4px;
	float: left;
	
}
aside{
	width: 340px;
	height: 100%;
	background: darkblue;	
	float: right;
	border-radius: 4px;
}
footer{
	padding-top: 10px;
	width: 1000px;
	height: 40px;
	background: gold;
	margin: auto;
	border-radius: 4px;
}
