<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico" />

    <title>学生管理系统</title>

    <link
      href="./node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link href="../public/dashboard.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" style="background-position: center;">
        <div
          class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
          style="margin: auto;"
        >
          <h1 class="page-header">学生管理系统</h1>

          <h2 class="sub-header">操作界面</h2>
          <button class="btn btn-success" id="add">添加学生</button>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>姓名</th>
                  <th>年龄</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {{each data}}
                <tr>
                  <td>{{$value.id}}</td>
                  <td>{{$value.name}}</td>
                  <td>{{$value.age}}</td>
                  <td>
                    <a href="./edit?id={{$value.id}}">编辑</a>
                    <a href="./remove?id={{$value.id}}">删除</a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    let addBtn = document.querySelector('#add');
    addBtn.addEventListener('click', () => {
      location.href = './add';
    });
  </script>
</html>
