body {
	font-family: 微软雅黑;
}

#headelogo{
	width: 960px;
	height: 80px;
	margin: auto;
}
.headelogoimg{
	margin: 20px 0 0 -10px;
}
.zhuce {
	border: 1px solid #D1D1D1;
	margin: auto;
}

.zhuce_bt {
	height: 47px;
	font-size: 16px;
}

.zhuce_nav {
	height: 68px;
}

.arrow {
	background: url(../img/zhuce1.png);
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	margin: 0 20px;
}

.zhuce_nav>span {
	margin-left: 6px;
	color: #999999;
	line-height: 20px;
	font-size: 16px;
}

#zhuce_nav1 {
	color: #0066B3;
}

#zhuce_page1,
#zhuce_page4,
#zhuce_page5
{
	font-size: 14px;
}

.zhuce_ydts {
	/* margin: 12px 0px 0px 12px; */
	text-align: center;
	margin: 12px 0 12px 0;
}

.mh_zhucewz {
	list-style-type: none;
	padding: 0;
	margin: 10px 0 0 0;
}

.mh_zhucewz>li {
	margin: 6px 12px 0 12px;
	color: #0066b3;
	padding: 6px 0 6px 0;
	border-bottom: 1px solid #999999;
}

.zhuce_xieyi {
	color: #BB2200;
	background: #F2F2F2;
}

a {
	text-decoration: none;
	color: #0066b3;
}

.zhuce_xyqr {
	font-weight: bold;
}

#mh_zhuce_sfqr {
	text-align: center;
}

#mh_zhuce_qr {
	width: 60px;
	height: 30px;
	border-radius: 3px;
	color: white;
	background: #CCCCCC;
	border: 1px solid #CCCCCC;
}

#mh_zhuce_bqr {
	width: 60px;
	height: 30px;
	border-radius: 3px;
	color: white;
	background: #4C9DD9;
	border: 1px solid #4C9DD9;
}

.mh_zhuce_wxts {
	line-height: 22px;
	font-size: 14px;
	color: #666;
}
.mh_zhuce_zhlx{
	margin: 20px 0 0 80px;
}
.mh_zhuce_zhlx1{
	margin:0 60px 0 5px;
}
.mh_zhuce_zhlx >input{
	margin-right: 5px;
}
.mh_zhuce_xinghao{
	color: red;
}
.mh_zhuce_zhlx2{
	margin:0 60px 0 5px;
}
.mh_zhucename{
	margin-left: 35px;
}
.mh_zhuceid{
	margin-left: 7px;
}
.mh_zhuceyzm{
	margin-left: 21px;
}
.mh_zhucename,.mh_zhuceyzm,.mh_zhuceid{
	padding: 5px 0px;
	width: 300px;
	border: 1px #0066B3 solid;
}
.mh_zhuce_zhlx > img{
	margin:0px 5px 0 40px;
}
.zhuce_zssm{
	display: inline-block;
	font-size: 12px;
	position: relative;s
	top: -4px;
}
.mh_zhuce_sxyb{
	margin-top: 40px;
	margin-left: 220px;
}
#mh_zhuce_last{
	width: 80px;
	height: 30px;
	border-radius: 3px;
	color: white;
	background: #0066B3;
	border: 1px solid #0066B3;
	margin-right:30px ;
}
#mh_zhuce_next,#mh_zhuce_next2,#mh_zhuce_next3,#mh-zhuce_zhuce{
	width: 80px;
	height: 30px;
	border-radius: 3px;
	color: white;
	background: #4C9DD9;
	border: 1px solid #4C9DD9;
}
#mh_mhzhuce_wxts{
	border: 1px #AAD0F2 solid;
    background: #EDF5FC;
    margin: 10px 40px 40px 11px;
    width: 936px;
    border-radius: 5px;
}
#mh_zhuceduanxin{
	margin: 20px 0 0 80px;
}
.mh_phonecoad{
	padding: 5px 0px;
    width: 300px;
    border: 1px #0066B3 solid;
    margin-left: 58px;
}
.mh_phonebtn{
	width: 80px;
	height: 25px;
	border-radius: 3px;
	color: white;
	background: #0066B3;
	border: 1px solid #0066B3;
	margin-left:30px ;
}
.mh_phonebtn:hover{
	background: #4C9DD9;
	border: 1px solid #4C9DD9;
}
.mh_zhucexxqr{
	font-size: 18px;
	font-weight: bolder;
}
.mh_zhucebdxinxi{
	margin: 0px 0 0 40px;
	line-height: 55px;
}
.mh_zhuce_xinxinav{
	margin: 0 60px 0 20px;
}
.mh_fgxian{
	border: 0.5px solid #CCCCCC;
	margin-right: 40px;
}
.mh_xinghaotishi{
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font-size: 18px;
	margin-right: 40px;
	height: 40px;
	position: relative;
	top: -10px;
	line-height: 40px;
	font-weight: bold;
}

.mh_zhuceuser{
	padding: 5px 0px;
    width: 300px;
    border: 1px #0066B3 solid;
    margin-left: 73px;
    border-radius: 3px;
}
.mh_zhucepwd{
	padding: 5px 0px;
    width: 300px;
    border: 1px #0066B3 solid;
    margin-left: 59px;
    border-radius: 3px;
}
.mh_zhucesex{
	margin-left: 58px;
}
.mh_zhucecity{
	padding: 5px 0px;
    width: 300px;
    border: 1px #0066B3 solid;
    margin-left: 59px;
    border-radius: 3px;
}
.mh_zhuce_laterimg{
	position: relative;
	top: 10px;
	display: none;
}
.mh_zhucesuccess{
	width: 938px;
	margin: auto;
	border: 1px solid #AAD0F2;
	border-radius: 5px;
	height: 315px;
}
.mh_successimg{
	width:450px;
	border: 1px solid darkblue;
	float: left;
	border-radius: 5px;
	height: 310px;
	text-align: center;
}
#mh_mhzhuce_wxts3{
	border: 1px #AAD0F2 solid;
    background: #EDF5FC;
    margin: 10px 11px 40px 11px;
    width: 936px;
    border-radius: 5px;
}

.mh_zhucesuccbtn{
	width: 300px;
	height: 40px;
	font-size: 20px;
	border-radius: 5px;
	background: #128DEB;
	color: white;
	box-shadow: 5px 5px 1px #DFEEF5;
}
.mh_successtxt{
	width:450px;
	height: 310px;
	float: right;
	border-radius: 5px;
}
.mh_successtxt_img{
	margin:0 10px 0 10px ;
}
.mh_successtxt_txt{
	display: inline-block;
	font-size: 20px;
	font-weight: bolder;
	color: #1b9f3f;;
}
.mh_zhucexian{
	border:0.5px solid #999999;
	margin-right: 20px;
	position: relative;
	top: 10px;
}
.mh_successtxt >p{
	line-height: 22px;
	font: 20px;
	color: black;
}
.tps{
	color:#666666; 
	margin-left:30px ;
}