<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <h1>注册页面</h1>   <hr>
    <div id="app">
        <input  v-model="stuid" placeholder="请输入学号"  >
        <input  v-model="stuname" placeholder="请输入姓名" >
        <select v-model="stusex">
            <option disabled value="">性别</option>
            <option>男</option>
            <option>女</option>
        </select>
        <input type="button" value="立即注册" id="regist" @click="regist">  <br>

        <p>thanks for yoour attention :<span> {{stuname}}</span></p>
    </div>
    <hr>

    <h1>计算器</h1> <hr>
    <div id="app1">
        <input v-model="firstnum" placeholder="请输入第一个数">
        <select v-model="selfh">
            <option selected >+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>   
        <input v-model="secendnum" placeholder="请输入第二个数">
        <input type="button" value="=" >
        <input v-model="result" placeholder="这里得出结果">
    </div>

</body>
<script>
    var app=new Vue({
        el:"#app",
        data:{
            stuid:"",
            stuname:"",
            stusex:"",
        },
        methods:{
            regist:function(){
                alert(this.stuid+"   " + this.stuname+"   " +this.stusex+"   注册成功")
            }
        }
    })

    var app1=new Vue({
        el:"#app1",
        data:{
            firstnum:'0',
            secendnum:'0',
            selfh:"+",   
        },
        computed:{
            result:function(){
                switch(this.selfh){
                    case '+':
                        return Number(this.firstnum) + Number(this.secendnum)
                        break;
                    case '-':
                        return this.firstnum - this.secendnum
                        break;
                    case '*':
                        return this.firstnum * this.secendnum
                        break;
                    case '/':
                        return this.firstnum / this.secendnum
                        break;
                }
            }
        }

        // computed:{
        //     result:function(){
        //         return eval(this.firstnum+this.selfh+this.secendnum);
        //     }
        // }
    })

    //实例代码
    // function calc(number1,operator,number2){
    //     return eval(number1+operator+number2);
    // }
    // console.log(calc(1,'+',1))
</script>
</html>