body{
    width: 1200px;
    margin: auto;  
    background-color: #f2f2f2;
}
ul,li{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.mh_header{
    display: flex;
    line-height: 65px;
    border-bottom: 1px solid #F6F6F6;   
    height: 65px;
    background: #FFF;
}
.mh_shouye{
    border-bottom: 3px solid #20c4ab;
    margin-left: 100px;
}
.mh_shouye a{
    text-decoration: none;
    color: #20c4ab; 
}
.mh_jqq{
    margin-left:auto;
}
.mh_jqq a{
    text-decoration: none;
    color: #20c4ab;
}
.mh_jqq img{
    height: 23px;
    width: 23px;
    vertical-align: middle;
    margin-left: 5px;
}
/* 上面都是header的页面 */
.search{
    background: #FFF;
    padding: 80px 0px;
    margin: 0px auto;
    margin-bottom: 13px;
    text-align: center;
}
.bdlogo{
    width: 157.25px;
    height: 53px;
    margin-right: 25px;
}
.bdlogo img{
    height: 53px;
    vertical-align: middle;
    margin-top: -9px;
    width: 157.25px;
}
.search input{
    height: 48px;
    line-height: 28px;
    border: 1px solid #ececec;
    width: 560px;
    border-right: 0;
    padding: 10px 10px;
}
.mh_searchbtn{
    display: inline-block;
    text-decoration: none;
    height: 48px;
    line-height: 46px;
    width: 150px;
    text-align: center;
    background: #20c4ab;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s all;
}
/* 上面是搜索 */
.mh_wangzhi{
    width: 1200px;
    /* max-width: calc(100% - 50px); */
    margin: auto;
    background: #FFF;
}
.mh_tuijiansite{
    width: 100%;
    height: 230px;
    margin-top: 13px;
    background: #FFF;
    padding-bottom: 5px;
    clear: both;
}
.site-title{
    margin: 0;
    padding: 0;
}
.site-title fieldset{
    border: none;
    padding: 0;
    border-top: 1px solid #eee;
}
.site-title legend{
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
}
.mh_tuijiansite li{
    float: left;
    margin-right: 9px;
    margin-bottom: 10px;
    width: calc( (100% - (10.5px * 6) ) / 7 );
    position: relative;
    list-style: none;
}
.mh_tuijiansite li a{
    display: block;
    font-size: 15px;
    padding: 15px 20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.2s all;
    color: #333;
    text-decoration: none;
}
.mh_tuijiansite li img{
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.mh_tuijiansite li:hover{
    background: rgba(160, 92, 92, 0.404);
    color: red;
}
/* 精选网址 */

.mh-fenlei{
    width: 1200px;
    margin: 10px auto;
    display: flex;
}
.leftzixun{
    width: 400px;
    height: 800px;
    background: #FFF;
}

.freetool{
    height: 304px;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}
.freetooltitel{

    border-left: 3px solid #20c4ab;
}
.freetooltitel>span{
    font-size: 17px;
    margin-left: 20px;
}
.newziyuan{
    height: 304px;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}
.newziyuantitel{
    border-left: 3px solid #20c4ab;
}
.newziyuantitel>span{
    font-size: 17px;
    margin-left: 20px;
}

.fenleis{
    width: 800px;
    background: #FFF;
    margin-left: 10px;
}
.sitefenlei{
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}
.sitefenleititel{
    border-left: 3px solid #20c4ab;
}
.sitefenleititel>span{
    font-size: 17px;
    margin-left: 20px;
}
.fenleislist{
    margin: 10px 0 0 30px;
}
.fenleistitles{
    float: left;
    margin-right: 35px;
    margin-top: 20px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    color: #20c4ab;
    overflow: hidden;
}
.fenleislist ul{
    float: left;
    margin-top: 20px;
}
.fenleislist ul li{
    float: left;
    margin-right: 11px;
    list-style: none;
}
.fenleislist ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.2s all;
    color: #333;
}
.fenleislist ul li a:hover{
    color: chocolate;
}
.fenleislist ul li a i {
    font-size: 13px;
    display: block;
    height: 40px;
    line-height: 38px;
    color: #b7b7b7;
}
.layui-icon-right:before {
    content: "更多";
}