body{
	background: linear-gradient(to right,#8ae68a,#5ccdde,#b221ff);
}
#head{
	width: 500px;
	height: 359px;
	background: url(../img/bg.png)no-repeat;  
	margin: auto;
}
.header{
	width: 500px;
	height: 40px;
	margin: auto;
	text-align: center;
	background: #d2b4b473;
	position: fixed;
}
.outimg{
	float: left;
	margin-left: 10px;
	margin-top: 6px;
}
.btwz{
	margin: auto;
	font-size: 23px;
	font-family: "楷体";
	font-weight: bolder;
	color: white;
	margin-top: 6px;
	display: inline-block;
}
.messg{
	float: right;
	margin-right: 10px;
	margin-top: 6px;
}
#logobp{
	/*margin-top: 150px;*/
	padding-top: 190px;
}
#logobp .qqlog{
	border-radius: 50%;
	margin-left: 20px;
	border: 1px solid white;
}
.autor{
	color: white;
	font-weight: bold;
	font-size: 20px;
	position:relative;
	top: -10px;
	left: 10px;
}
#headmain{
	margin-top: 20px;
	width: 100%;
	height: 70px;
	background: white;
}
.fl{
	float: left;
}
.xc{
	width: 20%;
	text-align: center;
}
.xc img{
	margin-top: 10px;
	width: 25px;
	height: 25px;
}
.line{
    width:100%;
    height:2px;
    z-index: 9999;
    background: -webkit-linear-gradient(left, #fff -4%,#929eb3 50%,#fff 100%);
}

#content{
	width: 500px;
	background: white;
	margin: auto;
}
.qqlogs{
	margin: 20px 10px 5px 10px;
	border-radius:50% ;
	border: 1px solid #2d86af;
}
.authers{
	display: inline-block;
	margin-top: 30px;
	color: indianred;
}
.dates{
	font-size: 15px;
}
.qqmusic{
	position:relative;
	top: 2px;
	left: 10px;
}
.qqmusicbt{
	margin-left: 13px;
	font-size: 15px;
	color: #2942ce;
}
#textcont{
	width: 98%;
	height: 120px;
	font-size: 18px;
	margin-top:10px ;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}
#imgcont{
	width: 100%;
	height: 300px;
	text-align: center;
}
#imgcont img{
	width: 95%;
	height: 300px;
}
#mainhot{
	width: 95%;
	height: 60px;
	margin: auto;
	margin-top: 10px;
}
.phonexh{
	font-size: 15px;
	color: #614b4b;
}
.hotimg{
	margin-top: 10px;
	margin-right: 5px;
}
.hottext{
	font-size: 15px;
	color: #e28c0e;
}
.fr{
	float: right;
}

.dzimg{
	margin-left:30px ;
	width: 25px;
	height: 25px;
}
#pl{
	width: 95%;
	height: 20px;
	margin-left: 10px;
	font-family: "楷体";
	font-size: 18px;
	background: #efeaea;
	border: 1px solid #efeaea;
	border-radius: 5px;
}
