 
/* 上传按钮开始*/
 #datauppage {
 	width: 400px;
 	height: 200px;
 	text-align: center;
 	margin: auto;
 	border: 1px solid rebeccapurple;
 	background: #3b89ff47;
    border-radius: 10px;	
}
 
 #upimg,
 #uptext {
 	border: 1px solid #63b3bd;
    margin: 10px;
    font-size: 18px;
    height: 30px;
    background: #00968878;
    border-radius: 3px;
    color: white;
 }
 #upimg:hover,
 #uptext:hover {
 	cursor: pointer;
 }
 .upbtn1 {
 	width: 100px;
 	height: 30px;
 	background: #2196F3;
 	border: 1px solid #2196F3;
 	border-radius: 5px;
 	margin-right: 20px;
 	margin-top: 10px;
 }
 
 .upbtn2 {
 	width: 100px;
 	height: 30px;
 	background: #8891c1;
 	border: 1px solid #9d87c3;
 	border-radius: 5px;
 }
 
 .upbtn2:hover,
 .upbtn1:hover {
 	background: green;
 	cursor: pointer;
 }
 
/*上传的图片与文本的格式*/
#sstext{
	width: 400px;
	height: 120px;
	margin: auto;
	overflow: hidden;
	border: 1px solid #E28C0E;
}
#ssimg{
	position: relative;
	top: 20px;
	width: 400px;
	margin: auto;
	text-align: center;
}
#ssimg img{
	height: 300px;
	width: 95%;
}
